[{{ RECOVERY_NAME }}]
description =  "PostgreSQL Database (streaming)"
conninfo = host={{ hostvars[groups['primarydb'][0]].ansible_facts['default_ipv4']['address'] }} user=barman
backup_method = postgres
backup_options = concurrent_backup
streaming_archiver = on
slot_name = barman
streaming_archiver_name = barman_receive_wal
streaming_archiver_batch_size = 50
path_prefix = "/usr/pgsql-14/bin"
